// Categories

.f-reference__categories {
  margin: 0;

  .transition();

  li {
	padding: 0 var(--a--spacing--xxs);

	pointer-events: none;

	color: var(--a--color--contrast);
	background-color: var(--a--color);
	border-radius: var(--a--spacing);

	@media (max-width: @breakpoint-xs--max) {
	  padding: 0 var(--a--spacing--xxs);
	}
  }
}