// Section

.f-section--references-recent {
  overflow-x: hidden;

  .f-section__heading {
	@media (min-width: @breakpoint-m) {
	  padding-right: var(--a--spacing--xl);
	}
  }
}

.f-section--reference-gallery {
  --section--spacing: var(--a--spacing--xxs);
}