.env
.env.*
!.env.example

node_modules/

wp-content/plugins/akismet/
wp-content/plugins/hello.php
wp-content/themes/twentytwenty*/
wp-content/uploads/*
!wp-content/uploads/import/
!wp-content/uploads/import/**
wp-content/cache/
wp-content/upgrade/
wp-content/debug.log

assets-source/figma/*.fig
assets-source/figma/local-*/
assets-source/figma/export/candidates/
assets-source/owner-info/

*.sql
*.zip
*.log
