// Admin Category

.f-term__image--preview {
  margin: 0;
  max-width: 320px;

  img {
    max-width: 100%;
    height: auto;
  }
}

// List

.post-type-product {

  .wp-list-table {

    #title {
      width: 25vw;
      min-width: 240px;
    }
  }
}