// Single

.f-single--product {
  //padding-top: var(--a--spacing--xxl);

  .f-single__container {

  }

  .f-single__header {
    padding-top: var(--a--spacing--s);

    h1 {
      margin: 0;

      font-size: var(--a--heading--font-size--h1--fluid);
      font-weight: var(--a--font-weight--bold-extra);

      color: var(--f--heading--color);
    }

    small {
      margin: 0;
      color: var(--f--color--grey);
    }
  }

  .f-single__image {
    margin: 0;
  }

  .f-single__content {
    margin: 0;
  }

  .f-price {
    font-size: var(--a--heading--font-size--h3--fluid);

    del {
      font-size: var(--a--font-size--l);
    }

    // Text
    &--text {
      font-size: var(--a--heading--font-size--h5--fluid);
      color: var(--a--color--accent);
    }
  }
}