// Listing

.f-listing--post {

  background-color: var(--a--color--soft);

  @media (min-width: @breakpoint-m) {
	--listing--header--font-size: var(--a--heading--font-size--h5--fluid);
  }

  .f-listing__image {

  }

  .f-listing__categories {

  }

  // List
  &.f-listing--list {
	--listing--image--overlay--gradient: none;

	@media (min-width: @breakpoint-m) {
	  --listing--spacing--h: var(--a--spacing--l);
	}
  }
}