// Download

.f-support__downloads {

}

// Listing

.f-listing--download {
  --listing--spacing--v: var(--a--spacing--xs);
  --listing--spacing--h: var(--a--spacing--xs);
  --listing--header--font-size: var(--a--font-size);

  background-color: var(--a--color--background);
  .shadow();
}