// Properties

:root {

  // XS
  --f--slideshow--height--xs: 620px;

  // Colors

  --f--slideshow--color: var(--a--color--contrast);
  --f--slideshow--color--rgb: var(--a--color--contrast-rgb);
  --f--slideshow--color--accent: var(--a--color--accent);
  --f--slideshow--color--highlight: var(--a--color--highlight);
  --f--slideshow--color--background: var(--a--color);

  // Overlay

  --f--slideshow--overlay: rgba(var(--f--overlay--color-rgb), 30%);

  // Pagination

  --f--slideshow--pagination--bullet--size: var(--a--border--width--xxl);
}